<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
        <style>

        </style>
    <title>VWM</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('profile') }}">Profile</a></li>
            <li><a href="{{ url_for('recommend') }}">Recommend Me</a></li>
            <li><a href="{{ url_for('movies') }}">All Movies</a></li>
        </ul>
    </nav>

    {% with messeges = get_flashed_messeges %}
        {% if messeges %}
            {% for messege in messeges %}
                <div>{{ messege }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}


    {% block content %}
    {% endblock %}

</body>
</html>