{% extends 'base.html' %}

{% block content %}
    <h1>Profile</h1>

<h2>Recommended movies</h2>
<div>
        <table>
        <tr>
            <th>ID</th>
            <th>Expected Rating</th>
            <th>Name</th>
        </tr>
        {% for film in recommendMovies %}
        <tr>
            {% for item in film %}
                <td> {{ item }} </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
<br/>
<h2>Rated movies</h2>
<div >
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Rating</th>
        </tr>
        {% for film in films %}
        <tr>
            {% for item in film %}
                <td> {{ item }} </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>


{% endblock %}